.main-wrap{
  margin: 1rem 2rem 5rem;
}
.main-title {
  font-size: 15rem;
  letter-spacing: 1rem;
  line-height: 12rem;
  color: var(--clr-secondary);
  margin-bottom: 3rem;
}

.start-btn {
  font-size: 2rem;
  border: 1px solid var(--clr-primary);
  border-radius: 1rem;
  padding: 1rem 3rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.form-sec {
   font-family: "Oswald", sans-serif;
  font-size: 2rem;
  background: rgb(0, 0, 0, 0.7);
  color: var(--clr-secondary);
  backdrop-filter: blur(10px);
  padding: 2rem 3rem;
  border-radius: 1rem;
}