.main-wrap {
  margin: var(--header-height) 1rem 5rem;
  display: flex;
  flex-direction: column;
  /* background: transparent;
  backdrop-filter: blur(10px); */
  padding: 0.4rem 0.5rem;
}

.main-title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1rem;
  line-height: 3rem;
  color: var(--clr-primary);
  margin: 3rem 1rem;
}

.start-btn {
  font-size: 2rem;
  border: 1px solid var(--clr-primary);
  border-radius: 1rem;
  padding: 1rem 3rem;
  background: var(--clr-secondary);
  color: var(--clr-primary);
  text-decoration: none;
  backdrop-filter: blur(10px);
  align-self: center;
}

/* Login Page */
.form-sec {
  font-family: "Fredericka the Great", serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  background: var(--clr-secondary);
  color: var(--clr-primary);
  backdrop-filter: blur(10px);
  padding: 2rem 3rem;
  border-radius: 1rem;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name-form input {
  padding: 1.2rem 1rem;
  border-radius: 10px;
  border: 1px solid var(--clr-primary-light);
  color: var(--clr-primary-light);
  outline: none;
}

.name-form button,
.user-screen button {
  padding: 1rem 2rem;
  margin: 1rem 0 0;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-primary-light);
  border: 1px solid var(--clr-primary);
  color: var(--clr-secondary);
  align-self: center;
}

.user-screen {
  width: 100%;
}

/* Login Page */

/* Category Page */

.form-wrap-select {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: center;
  background: var(--clr-secondary-rgb);
  backdrop-filter: blur(10px);
  border: 1px solid var(--clr-primary-light);
  border-radius: 16px;
  padding: 2rem;
}

.select-wrap {
  margin: 1rem;
}

select {
  padding: 1rem 2rem;
  border-radius: 16px;
  outline: none;
  width: 100%;
  font-family: inherit;
  background: var(--clr-secondary);
  color: var(--clr-primary-light);
  border: 2px solid var(--clr-primary-light);
}

.btn-select {
  padding: 1rem 2rem;
  margin: 1rem 0 0;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-primary-light);
  border: 1px solid var(--clr-primary);
  color: var(--clr-secondary);
  align-self: center;
}

/* Category Page */

/* Trivia Page */
.user-status-sec {
  background: var(--clr-primary);
  color: var(--clr-secondary);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    var(--clr-secondary-rgb) -6px -2px 16px 0px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  padding: 1rem 3rem;
  font-family: "Fredericka the Great", serif;
  margin: 0.2rem 0 0.9rem;
  position: sticky;
  top: var(--header-height);
  z-index: 10;
  transition: all 0.6s ease-in-out;
  width: 100%;
}

.trivia-sec {
  background: var(--clr-secondary-rgb);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    var(--clr-secondary-rgb) -6px -2px 16px 0px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  padding: 2rem 3rem;
  font-family: "Fredericka the Great", serif;
  position: relative;
}

.trivia-sec ol {
  padding: 1rem;
}

.trivia-que {
  font-size: 1.1rem;
  margin: 1.2rem 0;
}

.answer-wrap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1.1rem 0;
}

.answer-wrap label.correct-ans {
  background: var(--clr-success);
  color: var(--clr-secondary);
}

.answer-wrap label.wrong-ans {
  background: var(--clr-warning);
  color: var(--clr-secondary);
}

.answer-wrap label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  transition: all 0.5s ease-in-out;
}

/* Trivia Page */

@media screen and (min-width: 1080px) {
  .main-title {
    font-size: 10rem;
    line-height: 9rem;
  }

  /* Login Page */
  .form-sec {
    width: 20vw;
  }
  .user-screen {
    width: 30vw;
    margin: 0 30vw;
  }

  /* Login Page */

  .user-status-sec.short-wrap {
    width: 20%;
    align-self: flex-end;
    transition: all 0.6s ease-in-out;
  }
}
