.main-wrap {
  margin: var(--header-height) 1rem 5rem;
  display: flex;
  flex-direction: column;
  /* background: transparent;
  backdrop-filter: blur(10px); */
  padding: 1rem 0.5rem;
}

.main-title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1rem;
  line-height: 3rem;
  color: var(--clr-primary);
  margin: 3rem 1rem;
}

.start-btn {
  font-size: 2rem;
  border: 1px solid var(--clr-primary);
  border-radius: 1rem;
  padding: 1rem 3rem;
  background: rgba(255, 255, 255, 0.5);
  color: var(--clr-primary);
  text-decoration: none;
  backdrop-filter: blur(10px);
  align-self: center;
}

.form-sec {
 font-family: "Fredericka the Great", serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  background: rgba(245, 245, 240, 0.8);
  color: var(--clr-primary);
  backdrop-filter: blur(10px);
  padding: 2rem 3rem;
  border-radius: 1rem;
  align-self: center;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.8);
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name-form input {
  padding: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
}

.name-form button {
  padding: 0.5rem 1rem;
  margin: 1rem 0 0;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-primary-light);
  border: 1px solid var(--clr-primary);
  align-self: center;
}

.form-wrap-select {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: center;
}

.select-wrap {
  margin: 1rem;
}

select {
	padding: 1rem 2rem;
	border-radius: 16px;
	border: none;
	outline: none;
  width: 100%;
  font-family: inherit;
  background: var(--clr-primary);
  color: var(--clr-primary-light);
}


.btn-select {
padding: 1rem 2rem;
  margin: 1rem 0 0;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-primary-light);
  border: 1px solid var(--clr-primary);
  align-self: center;
}

.trivia-sec {
	background: rgba(255,255,255, 0.8);
	border-radius: 16px;
	backdrop-filter: blur(10px);
	padding: 2rem 1rem;
 font-family: "Fredericka the Great", serif;
}

.trivia-sec ol {
  padding: 1rem;
}

.trivia-que {
  font-size: 1.1rem;
}

.answer-wrap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.answer-wrap label:has(input.correct-ans) {
  background: var(--clr-success);
  color: var(--clr-primary-light);
}

.answer-wrap label:has(input.wrong-ans) {
  background: var(--clr-warning);
  color: var(--clr-primary-light);
}

.answer-wrap label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
}

@media screen and (min-width: 1080px) {
  .main-title {
    font-size: 10rem;
    line-height: 9rem;
  }
}
