.main-wrap {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
  margin-top: var(--header-height);
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1rem;
  line-height: 3rem;
  color: var(--clr-secondary);
}

.start-btn {
  font-size: 2rem;
  border: 1px solid var(--clr-primary);
  border-radius: 1rem;
  padding: 1rem 3rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  align-self: center;
}

.form-sec {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  background: rgba(245, 245, 240, 0.8);
  color: var(--clr-primary);
  backdrop-filter: blur(10px);
  padding: 1rem 3rem;
  border-radius: 1rem;
  align-self: center;
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name-form input {
  padding: 1rem 0.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
}

.name-form button {
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-primary-light);
}

.trivia-que {
  font-size: 1.5rem;
}

@media screen and (min-width: 1080px) {
  .main-title {
    font-size: 15rem;
    line-height: 13rem;
  }
}
