:root {
  --clr-primary: #343a40  ;
  --clr-primary-light: #e9ecef;
  --clr-secondary: #f5f5f0;

  --clr-success: #02b461;
  --clr-neutral: #f8fab4;
  --clr-warning: #f08787;

  --header-height: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredericka the Great", serif;
  background: #fff
    url(https://cdn.pixabay.com/photo/2021/10/13/15/59/compass-6707008_1280.png)
    no-repeat right center / 200px fixed;
  /* background: #000 url(https://cdn.pixabay.com/photo/2022/06/08/23/24/doodles-7251441_1280.png) repeat center / contain fixed; */
}
/* 
body::before {
  content: " ";
  background: #000 url(https://cdn.pixabay.com/photo/2022/02/25/09/23/background-7033807_1280.jpg) no-repeat center / cover fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
} */

button {
  font-family: "Fredericka the Great", serif;
}

header {
  position: fixed;
  top: 0;
  background: transparent;
  backdrop-filter: blur(10px);
  color: var(--clr-primary);
  width: 100%;
  font-weight: 400;
  font-size: 1.5rem;
  z-index: 10;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

footer {
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.77);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 1rem 3rem;
  color: #1a1a1a;
  font-weight: 400;
}


@media screen and (min-width:1080px) {
  body{
    background: #fff
    url(https://cdn.pixabay.com/photo/2021/10/13/15/59/compass-6707008_1280.png)
    no-repeat right center / 500px fixed;
  }
}