:root {
  --clr-primary: #343434; 
  --clr-primary-light: #454545; 
  --clr-primary-light-rgb: rgb(69, 69, 69, 0.8);
  --clr-secondary: #ffffff;
  --clr-secondary-rgb: rgba(255, 255, 255, 0.8);


  --clr-success: #10b981; /* Emerald 500 */
  --clr-neutral: #fef08a; /* Soft Amber */
  --clr-warning: #ef4444; /* Rose-tinted Red */

  --header-height: 0;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fredericka the Great", serif;
  background: #fff
    url(https://cdn.pixabay.com/photo/2021/10/13/15/59/compass-6707008_1280.png)
    no-repeat right center / 200px fixed;
  /* background: #000 url(https://cdn.pixabay.com/photo/2022/06/08/23/24/doodles-7251441_1280.png) repeat center / contain fixed; */
}
/* 
body::before {
  content: " ";
  background: #000 url(https://cdn.pixabay.com/photo/2022/02/25/09/23/background-7033807_1280.jpg) no-repeat center / cover fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
} */

button {
  font-family: "Fredericka the Great", serif;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.6s ease-in-out;
}

.header-wrap {
  border-radius: 16px;
  margin: 1rem 2rem;
}

.nav-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1rem;

  background: transparent;
  backdrop-filter: blur(10px);
  color: var(--clr-primary);
  width: 100%;
  font-weight: 400;
  font-size: 1.5rem;
  border-radius: 16px;
}

nav a {
  color: var(--clr-primary);
  text-decoration: none;
  outline: none;
  background: none;
  border: none;
  font-size: 1.5rem;
}

.active-nav {
  font-weight: 800;
  text-decoration: underline;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.nav-item {
  font-size: 1.4rem;
}

.normal-link {
  font-size: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  background: var(--clr-secondary-rgb);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 1rem 3rem;
  color: #1a1a1a;
  font-weight: 400;
}

footer .nav-wrap {
  font-size: 1rem;
}


@media screen and (min-width: 1080px) {
  body {
    background: #fff
      url(https://cdn.pixabay.com/photo/2021/10/13/15/59/compass-6707008_1280.png)
      no-repeat right center / 500px fixed;
  }

  .nav-wrap  {
    flex-direction: row;
    padding: 1rem 2rem;
  }
}
