:root {
  --clr-primary:#01202A;
  --clr-primary-light:#9AC5B7;
  --clr-secondary:#F5F5F0;
  
  --clr-success:#02B461;
  --clr-neutral:#F8FAB4;
  --clr-warning:#F08787;

  --header-height:0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BBH Bogle", sans-serif;
  background: url(https://cdn.pixabay.com/photo/2016/02/07/19/48/aurora-1185464_1280.jpg) no-repeat center / cover fixed;
}

button {
  font-family: "BBH Bogle", sans-serif;
}

header {
  position: fixed;
  top: 0;
  background: transparent;
  backdrop-filter: blur(10px);
  color: var(--clr-secondary);
  width: 100%;
  font-weight: 400;
  font-size: 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}


footer {
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.77);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 1rem 3rem;
  color: #1a1a1a;
  font-weight: 400;
}
